@import "tailwindcss";

@theme {
  --color-background: #030712;
  --color-foreground: #f8fafc;
  --color-emerald-500: #10b981;
}

:root {
  --background: #030712;
  --foreground: #f8fafc;
  /* تفعيل التنقل الناعم */
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  -webkit-font-smoothing: antialiased;
}

/* Custom Emerald Scrollbar - فخم جداً ونحيف */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #030712;
}

::-webkit-scrollbar-thumb {
  background: #10b981;
  border-radius: 20px;
}

/* لتجنب أي تداخل في العناصر عند السكرول */
* {
  box-sizing: border-box;
}