@import "tailwindcss";

@theme {
  --color-background: #030712;
  --color-foreground: #f8fafc;
  --color-emerald-500: #10b981;
  --color-border: rgba(255, 255, 255, 0.05);
}

:root {
  --background: #030712;
  --foreground: #f8fafc;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s ease;
}

/* تحسين شكل السكرول بار ليناسب التصميم */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: var(--background);
}
::-webkit-scrollbar-thumb {
  background: #10b981;
  border-radius: 10px;
}